[2018-06-06 16:44] vvedachalam opened #1 "Unknown option '--reporter'"
Hi
Thanks for the report. I can run the report separately but if i add the below along with the testcafe command line, i am getting error - Unknown option --reporter
node ./node_modules/.bin/cucumber-js --reporter cucumber-json:reports/report.json --reporter-app-name='MAI AI' --reporter-app-version='0.9.1'
However this works: node ./node_modules/.bin/cucumber-js
Any idea what am I missing?

[2018-06-06 20:09] hdorgeval commented on #1
Hi @vvedachalam, this reporter is intended to work with TestCafe only. This reporter produces the same json format as native json cucumber-js reporter.

The testcafe command line should look like this:
[code]

You should not call `node ./node_modules/.bin/cucumber-js`.
The `--reporter` option does not exist in cucumber-js.

[2018-06-08 16:11] vvedachalam commented on #1
HI @hdorgeval , Thanks for the quick response. I didnt get email notification for some reason about your response. Yes, that's what I got confused as I never seen --reporter option. But why should we use testcafe  cmd by mentioning spec name? We should be able to run the features or tags right? Or you just use cucumber for reporting and not for Gherkin style BDD test framework?

[2018-11-15 00:43] royriojas opened #3 "warning testcafe-reporter-cucumber-json@0.3.1: The engine "vscode" appears to be invalid."
After a fresh install of this plugin the following error is shown in the console:

[code]

https://github.com/hdorgeval/testcafe-reporter-cucumber-json/blob/c5c987c2676c478d73001e0e9bbc76751a44ac35/package.json#L56

[2018-11-15 00:50] royriojas opened #4 "Should testcafe better be a peer dependency"
Please consider moving testcafe as peer dependency instead of dependency.

https://github.com/hdorgeval/testcafe-reporter-cucumber-json/blob/c5c987c2676c478d73001e0e9bbc76751a44ac35/package.json#L47

[2018-11-15 11:37] hdorgeval commented on #3
Hi @royriojas, thank you for your feedback. I will  investigate your issue as soon as possible.

[2018-11-15 11:39] hdorgeval commented on #4
Hi @royriojas : thanks again for your great feedback. I will correct this asap.

[2019-03-10 09:52] hdorgeval commented on #4
Hi @royriojas : this issue has been corrected in v1.0.0

[2019-03-10 09:52] #4 closed

[2019-03-10 09:55] hdorgeval commented on #3
Hi @royriojas : could you tell me is this is still an issue in v1.0.0?

[2019-03-10 09:55] #1 closed

[2019-03-24 16:29] #3 closed

[2019-03-27 03:21] skullz03 opened #6 "testcafe-reporter-cucumber-json reports require test cafe to use cucumber?"
Hi,

Just wondering to use this library- does the testCafe project need to have cucumber integrated? I have pure testcafe project(no cucumber), would I be able to leverage the benefits of this?

[2019-03-28 11:58] hdorgeval commented on #6
Hi @skullz03, this reporter creates a JSON file in a format that is similar to the JSON reporter of CucumberJS.

This reporter has no dependency on cucumberjs. It's just a JSON reporter.

The added value of this reporter is that there are great packages that can transform the generated json file into a static Web site. You can use any of these packages, but this reporter has been designed to smoot

[2019-07-03 13:18] maximkoev opened #7 "json file rewrites when run tests in few browsers simuntaneosly"
Hi guys, you created really good tool, I like it. Could u please help me with my problem. When I run tests in few browsers or run tests again, roport.json deletes and creates each time. how can I avoid it?

[2019-08-05 13:54] herveroche opened #8 "When use Browserstack, the platform is missing"
When we use browserstack we cannot get the plateform :

testcafe-reporter-cucumber-json: cannot get the Platform name from input string : 'Chrome 75.0.3770 / Windows 10.0.0 (https://automate.browserstack.com/builds/1f90795f6e1078f0dca1b94929a8d372c60970d5/sessions/98a8e7718381c14a5c6c64afe26babb7063cf7d3)'

Or we get all the things needed pour do this.

[2019-08-07 15:13] hdorgeval commented on #8
Hi @herveroche, thank you very much for your feedback. I will try to fix this asap, though I am still on holidays

I cannot access to the above browserstack link

[2019-08-07 15:34] herveroche commented on #8
Don't worried I just copy/paste the warn log:
It more like this:
`testcafe-reporter-cucumber-json: cannot get the Platform name from input string : 'Chrome 75.0.3770 / Windows 10.0.0 (https://automate.browserstack.com/builds/1f90795f6e1078f0dca1b94929a8d372c60970d5/sessions/98a8e7718381c14a5c6c64afe26babb7063cf7d3)'`

[2019-08-08 14:50] hdorgeval commented on #8
Hi @herveroche, the fix has been deployed in v2.0.0 on npm. Could you give it a try and let me know if it works for you?

[2019-08-09 09:16] hdorgeval commented on #7
Hi @maximkoev, thank you for your feedback. It is possible to have a report filename that is different at each run. The question is: how to do you want to show the report: should it be the merge of each report files, should it be the last generated report file?

[2019-08-09 10:07] maximkoev commented on #7
Hi @hdorgeval in the best case I want to see report with history. So I want to know when case passes and when failed.

[2019-08-22 12:32] RemigiusL commented on #6
Hi @skullz03,

-   After installing your **Cucumber JSON TestCafe Reporter (beta)** npm package. I'm trying to get the HTML report using your given comment **testcafe chrome ./path-to-tests/*(.js|.testcafe|.ts) --reporter cucumber-json:reports/report.json --reporter-app-name='My App' --reporter-app-version='x.y.z'** but not able to get the report.

**It says, ERROR The provided "cucumber-JSON" rep

[2019-08-22 12:42] RemigiusL opened #9 "After run the solution It says ERROR: The provided "cucumber-JSON" reporter does not exist. Check that you have specified the report format correctly. Why it happened ?"
Hi @hdorgeval,

-   After installing your **Cucumber JSON TestCafe Reporter (beta)** npm package. I'm trying to get the HTML report using your given comment **testcafe chrome ./path-to-tests/*(.js|.testcafe|.ts) --reporter cucumber-json:reports/report.json --reporter-app-name='My App' --reporter-app-version='x.y.z'** but not able to get the report.

`It says ERROR: The provided "cucumber-JSON" rep

[2019-08-22 13:03] #9 closed

[2019-08-24 14:00] ravinder455 opened #10 "`report.json` doesn't show failed tests when running '.testcafe' files"
When running tests for **.testcafe** files, report.json file has elements only for `passed` tests (missing for `failed` tests). However runInfo shows `testscount` and `passed` with correct  numbers. Also console log (spec output) has all running tests info (passed & failed).

Missing elements for failed tests are resulting in incorrect HTMl report (always 100% passed).

I didn't see this issue whe

[2019-08-26 21:05] hdorgeval commented on #10
Hi @ravinder455 , thank you for your feedback, it would be great if you could share a repo that shows this problem.

[2019-08-27 09:49] RemigiusL opened #11 "The provided "cucumber-JSON" reporter does not exist. Check that you have specified the report format correctly."
Hi @hdorgeval,

After installing your Cucumber JSON TestCafe Reporter (beta) npm package. I'm trying to get the HTML report using your given comment **testcafe chrome ./path-to-tests/*(.js|.testcafe|.ts) --reporter cucumber-json:reports/report.json --reporter-app-name='My App' --reporter-app-version='x.y.z'** but not able to get the report.
It says `ERROR: The provided "cucumber-JSON" reporter doe

[2019-08-27 09:55] RemigiusL opened #12 "The provided "cucumber-JSON" reporter does not exist. Check that you have specified the report format correctly."
Hi @hdorgeval,

After installing your Cucumber JSON TestCafe Reporter (beta) npm package. I'm trying to get the HTML report using your given comment `testcafe chrome ./path-to-tests/*(.js|.testcafe|.ts) --reporter cucumber-json:reports/report.json --reporter-app-name='My App' --reporter-app-version='x.y.z'` but not able to get the report.
It says **ERROR: The provided "cucumber-JSON" reporter does

[2019-08-27 09:56] #12 closed

[2019-08-27 17:30] hdorgeval commented on #11
Hi @RemigiusL , the error message you give me tells that TestCafe cannot find a folder named `testcafe-reporter-cucumber-JSON`.

TestCafe dynamically loads reporters based on their names. For example, when you set on the command line `--reporter foo`, TestCafe looks for a folder named `testcafe-reporter-foo` in the `node_modules` folder.

The only explanation for such an error is that you have set

[2019-08-27 17:36] hdorgeval commented on #10
Hi @ravinder455 , thank you very much for the time you have spent to create this repo 👍 . Give me some time to check what is going on.

[2019-08-27 21:00] hdorgeval commented on #10
Hi @ravinder455 , v3.0.0 has been published to npm and should resolve your issue. Could you give it a try and provide any feedback?

[2019-08-28 07:37] #11 closed

[2019-08-28 22:41] ravinder455 commented on #10
@hdorgeval,

We are getting this console error for all failed tests. Is there a way we can silence these error logs ?

[code]

[2019-08-29 18:30] hdorgeval commented on #10
Hi @ravinder455 , thank you for your feedback. I will fix it asap.

[2019-08-29 19:06] hdorgeval commented on #10
Hi @ravinder455, your last feedback should be solved by v3.0.1 available on npm.

Those warning messages should not be emitted any more in the log.

[2019-08-29 19:10] hdorgeval commented on #8
Hi @herveroche, I will close this issue since there is no feedback on your side.
Do not hesitate to re-open it if the latest version of the reporter does not solve this issue.

[2019-08-29 19:10] #8 closed

[2019-08-29 19:13] #6 closed

[2019-09-05 14:37] herveroche commented on #8
Perfect ;)

Sorry for the delay !

[2019-09-24 23:09] jpatel13 opened #13 "Cucumber steps not in the report"
Hello,

  Not sure if this is as designed or a bug but I don't see steps from the feature file in the report and if I check reports/feature it is empty.

 My project folder structures is e2e-automation/features/support/page_objects/*.js
                                                     e2e-automation/features/step_definitions/*.js
                                                     e2e-automat

[2019-10-07 09:50] AM1988 commented on #13
Hello.

I had the same issue after the latest upgrade.
Fixed by reverting to the version I used before: "testcafe-reporter-cucumber-json": "1.2.0" and "multiple-cucumber-html-reporter": "1.12.0".

Looks like the issue is caused by the latest version of multiple-cucumber-html-reporter.
What I found is https://github.com/wswebcreation/multiple-cucumber-html-reporter/commit/e30f076e87edb7471244b5acf3

[2019-10-07 20:11] hdorgeval commented on #13
Hi @jpatel13 and @AM1988 thank you very much for your feedback 👍 . Current workaround is to pin multiple-cucumber-html-reporter to 1.12.0
I do my best to fix this asap.

[2019-10-08 10:45] hdorgeval commented on #13
@jpatel13 , @AM1988 : the issue has been solved in release v4.0.0. Could you give it a try and let me know if it works for you? You must also upgrade the `multiple-cucumber-html-reporter` package to its latest version (see the [README](https://github.com/hdorgeval/testcafe-reporter-cucumber-json#to-generate-the-html-report)

[2019-10-08 11:31] AM1988 commented on #13
Hi @hdorgeval.
Did a quick check with **"multiple-cucumber-html-reporter": "1.13.1"** and
    **"testcafe-reporter-cucumber-json": "^4.0.0"** and it works fine for me. Thank you!

[2019-10-08 17:55] jpatel13 commented on #13
Fix works, thanks for the help ! @hdorgeval @AM1988

[2020-01-09 13:59] herveroche opened #14 "Missing history test suite in the report"
I have more than one file un my directory "Feature" and they are not displayed when i generated report...

I'll add some screenshot:
![image](https://user-images.githubusercontent.com/30661964/72073582-7bdf6800-32f0-11ea-832c-38c1ece8c9d0.png)

Here my reporter code:
[code]

Finally my vew in the browser:
![image](https://user-images.githubusercontent.com/30661964/72073672-a5988f00-32f0-11ea-94aa-

[2020-01-09 17:25] hdorgeval commented on #14
Hi @herveroche, do you think it is possible that you send me the `report.json` file, so that I can understand what is happening?

[2020-01-09 20:41] hdorgeval commented on #14
Hi @herveroche, I think I misunderstood your report. As far as I understand, each time you run your test the generated report.json file overwrites the previously generated.

So when you run the report, you only see the result of the last run.

What I suggest is that you modify your run scripts to generate a different file at each run:

[code]

Then, once all tests have run, the `npm run report` sh

[2020-01-10 02:40] ash8454 opened #15 "Unable to generate report while running from Docker Container"
I am not able to generate report using the testcafe-reporter-cucumber.json module from Docker container.
I need to do in Docker container since the Jenkins at my work uses older node version whereas my project uses node12.0.
I am able to run my tests but not able to generate the report.json inside the docker container file.

Steps

1. Clone this repo
2. Go to the project folder and run the docker

[2020-03-19 08:42] guiyomh opened #18 "cannot get the Platform name"
When I execute testcafe, I have this warning :

[code]

[2020-03-23 16:24] #18 closed

[2020-03-24 16:47] JoanEsquivel opened #20 "Report is not getting the OS and Browser(name & version) information."
Hi there guys,

Thanks for this amazing library.

I am trying to use it in my project but I am getting issues getting the OS and Browser(name & version) information.

I followed all the steps but  I am not sure if I should pass those params somewhere else.

Thanks a lot for your support.

Joan.

[2020-03-24 16:50] JoanEsquivel commented on #20
![Report issue](https://user-images.githubusercontent.com/48256183/77453738-41e51480-6dbd-11ea-92c7-e84065f62d77.PNG)

[2020-03-24 17:26] hdorgeval commented on #20
Hi @JoanEsquivel , thank you for using this library, do you have any messages like this `testcafe-reporter-cucumber-json: cannot get the Platform name from input string ...` in the console?

This could help
Thanks

[2020-03-24 17:38] JoanEsquivel commented on #20
Hi @hdorgeval , thanks for the support.

I don't, that is the weird fact. Let me show you an SS of the console and then the result(I changed the scenario to have all the tests passing).

![image](https://user-images.githubusercontent.com/48256183/77458560-fe41d900-6dc3-11ea-8dbd-6fb2ebdf549e.png)

[2020-03-24 17:45] hdorgeval commented on #20
Hi @JoanEsquivel , all you have done seems correct to me. I will publish a new version that will print the user agent sent by TestCafe to this reporter, so that I can make the necessary updates

[2020-03-24 17:47] JoanEsquivel commented on #20
Thanks @hdorgeval !

Really appreciate your help.

[2020-03-24 17:52] hdorgeval commented on #20
@JoanEsquivel : it would be greater if you could send me the json file generated in the reports folder

[2020-03-24 18:03] JoanEsquivel commented on #20
@hdorgeval sure.

Preview of the matadata you'll find.

"metadata": {
      "app": {
        "name": "'My_Test'",
        "version": "'1'"
      },
      "browser": {
        "name": "unknown",
        "version": "unknown"
      },
      "device": "Windows 10",
      "platform": {
        "name": "windows",
        "version": "unknown"
      }
[report.zip](https://github.com/hdorgeval/testcafe-rep

[2020-03-24 18:11] hdorgeval commented on #20
@JoanEsquivel , thank you very much, I have located the problem: it is a bug on my side. I will ping you as soon as I have fixed it.

[2020-03-24 18:13] JoanEsquivel commented on #20
@hdorgeval amazing. Thank you!

[2020-03-25 09:07] #20 closed

[2020-03-25 09:12] hdorgeval commented on #20
Hi @JoanEsquivel , I have published v5.0.0 on npm that should solve your issue.
Please tell me if this new version is working for you.
Thnks

[2020-03-25 15:14] JoanEsquivel commented on #20
Hi @hdorgeval

I just wanted to confirm that it's fixed!

Thank you very much! Have an excellent day.

[2020-03-25 17:09] JoanEsquivel commented on #7
Hi @hdorgeval

Maybe to give you an example of this issue is the following scenario(I am facing a similar situation):

- Using a test case runner class to perform parallel testing with BrowserStack.
- If you instance different web browsers in the same runner, it ONLY displays the first browser result ( JSON only have that result). Therefore the rest of the tests are missed in the final report.

*N

[2020-03-28 07:13] guiyomh opened #21 "no difference between "chrome" and "chrome:emulation:device=iphone X""
Hello,

I launch testcafé with the following browsers `"chrome:headless,chrome:headless:emulation:device=iphone X"` I was expecting to see twice the features and scenarion in the report (mobile and desktop).

But I only do it once and there's no desktop/mobile distinction.

![image](https://user-images.githubusercontent.com/363162/77817534-d1473c00-70cb-11ea-8507-8efb4c51ad9f.png)

I used

- "test

[2020-03-28 18:12] hdorgeval commented on #21
Hi @guiyomh, thank you for your feedback. This reporter has not been designed to work either in concurrency mode or with several browsers declared on the same command-line.

A workaround could be to have separate npm script for each browser with a report file name different for each script.

If you think this reporter is lacking the multi/concurrency-reporting functionality, please let me know.
PR

[2020-04-14 22:53] NathanYocum opened #22 "Add LICENSE to repo"
License is listed in package.json as MIT but no LICENSE is defined in repo

[2020-04-15 18:30] NathanYocum opened #23 "Cannot get Platform Name - Linux"
https://github.com/hdorgeval/testcafe-reporter-cucumber-json/blob/master/src/user-agent-parser.ts -- doesn't list Linux as a platform. Would be nice to use Linux for docker run times etc

[2020-04-15 19:48] #23 closed

[2020-04-15 20:23] hdorgeval commented on #22
Hi @NathanYocum, thank you for your feedback.

I have added the missing license file.

[2020-04-15 20:23] #22 closed

[2020-07-01 13:50] vasantverma-LM commented on #7
Hi @JoanEsquivel
I am using this report and running on browserstack .
The issue is it doesn't show the browser name and device name properly which was Edge and Windows.
![CuCumberReport_BrowserstackIssue](https://user-images.githubusercontent.com/66365851/86251760-e900f580-bbcf-11ea-8122-8c3f2c6cb307.PNG)
Would be great you can help me on this

[2020-07-01 18:57] hdorgeval commented on #7
Hi @vasantverma-LM , if you can provide the generated report.json file, it will help me to solve your issue concerning the browser.

[2020-07-03 11:35] vasantverma-LM commented on #7
Hi @hdorgeval  Thanks for your response.
Regarding the screenshot I will create a sample project and would the report.json file in some time.
For this I will create a separate issue.

[2020-07-03 11:36] vasantverma-LM commented on #7
@hdorgeval
 Do you have any solution for getting the test results in the report when multiple browsers are running simultaneously.
As mentioned by @JoanEsquivel only the report only displays the test results of the first browser

[2020-07-03 11:41] hdorgeval commented on #7
Hi @vasantverma-LM : yes I plan to solve this issue as soon as possible :). I will start the dev this week-end.

[2020-07-04 21:20] hdorgeval commented on #7
Hello guys, thank you for your feedbacks and your patience!

I have published a v6.0.0 version to the npm registry that should solve this issue.

Please read the [CHANGELOG](https://github.com/hdorgeval/testcafe-reporter-cucumber-json/blob/master/CHANGELOG.md#600---2020-07-05), as this release is a breaking change.

It would be awesome if you could provide some feedback on this new release.

[2020-07-06 09:51] vasantverma-LM commented on #7
@hdorgeval  Thanks for the latest release.
I am currently using it in my sample project. Till now its working fine.
I have encountered one issue in the latest version.
When viewing the error log displayed in the report, there is a symbol which repeated frequently. Due to this the error log is not readable.
Attached are the screenshots of version 5.1.0 and latest version 6.0.0.
![Cucumber JSON Test

[2020-07-06 19:27] hdorgeval commented on #7
Hi @vasantverma-LM , thanks a lot for your feedback!

This is a side effect caused by the removal of the report.json file declaration together with the reporter. If you put back the file declaration after the reporter, it should work.

This problem is due to the fact that before version 6, the json file was 'cleaned' and written by testcafe itself.

From version 6, the file is entirely managed and

[2020-07-06 20:57] hdorgeval commented on #7
Hi @vasantverma-LM, I have published a v6.0.1 that should solve the issue.

[2020-07-07 08:04] vasantverma-LM commented on #7
Hi @hdorgeval the error log issue in the report is resolved in the v6.0.1 but the enhancement added in the v6.0.0 is not working.
I tested it on v6.0.0 and v6.0.1.
In v6.0.0 I am able to run at least three browsers simultaneously and the report was generated accordingly but with the same scenario in v6.0.1 browsers are not getting closed after successfull execution.

[2020-07-07 17:42] hdorgeval commented on #7
Hi @vasantverma-LM, I cannot reproduce locally your issue. Which browsers are you using? Did you try to rimraf the node_modules and re-install everything?

[2020-07-08 04:40] vasantverma-LM commented on #7
Hi @hdorgeval , I am using chrome, edge and firefox on windows 10. I have just updated the report to v6.0.1. The rest of the libraries are the same. Should I reinstall it.

[2020-07-08 07:07] vasantverma-LM commented on #7
Hi @hdorgeval I have tested it again and it seems that the issue that I have mentioned earlier is intermittent and occurs only when we are running tests on three or more browsers simultaneously.

[2020-07-08 07:17] vasantverma-LM commented on #7
Hi @hdorgeval ,
There is one query related to the showing the screenshots in the report.
Suppose I have executed a test on chrome, edge, and firefox simultaneously. JSON files for these three browsers are created.
When viewing the screenshots of the test in the reports for a particular, it shows screenshots of all other browsers also.
I have specified below mention naming techniques for screenshot

[2020-07-08 20:17] hdorgeval commented on #7
Hi @vasantverma-LM , I have pushed a v6.0.2 version that maybe could resolve that browser does not close at the end of the tests.

Concerning the screenshots, I need some more time on my side.

Thanks!

[2020-07-10 18:56] hdorgeval commented on #7
Hi @vasantverma-LM, I am working on your issue. I will release a new version in a few days.

[2020-07-11 12:11] hdorgeval commented on #7
Hi @vasantverma-LM , Thank's a lot for your feedback, as it helped me to significantly improve the reporter.

I have pushed a `v6.0.3` version on `npm`. This version should correctly handle error messages and screenshots for each browser when TestCafe runs with multiple browsers simultaneously.

There is still some improvements to implement:
- insert TestCafé warning messages when a screenshot cou

[2020-07-13 12:16] vasantverma-LM commented on #7
Hi, @hdorgeval I have tested the reporter v6.0.3 with chrome, edge, and firefox simultaneously and it is not showing the screenshots for each successful test. In my test code, I have added the code for capturing the screenshot at the end of every test. The screenshots are captured but not shown in the report for each browser.
For failing tests, screenshots are shown for the respective browser.
Ref

[2020-07-14 15:46] hdorgeval commented on #7
Hi @vasantverma-LM , thanks a lot for your feedback.

I have published `v6.0.4` that should solve your issue.

[2020-07-14 16:24] hdorgeval commented on #14
Hi @herveroche , the latest version `v6.0.4` should solve your issue. See the [breaking changes](https://github.com/hdorgeval/testcafe-reporter-cucumber-json/blob/master/CHANGELOG.md#breaking-changes).

[2020-07-14 16:25] #14 closed

[2020-07-14 16:27] #13 closed

[2020-07-14 16:29] hdorgeval commented on #21
Hi @guiyomh : this issue has been fixed in version `v6.0.4`. See [breaking changes](https://github.com/hdorgeval/testcafe-reporter-cucumber-json/blob/master/CHANGELOG.md#breaking-changes).

[2020-07-15 11:20] vasantverma-LM commented on #7
Hi @hdorgeval ,thanks for the update.
I have tested the latest version 6.0.4 and it is working fine when running tests locally but when testcafe tests are executed on BrowserStack , screenshots(both failure and success screenshots) are captured in testcafe but not shown in the report.
The above mentioned observation is for running multiple browsers simultaneously.
Attached is the screenshot of my

[2020-07-15 11:54] hdorgeval commented on #7
Hi @vasantverma-LM : thanks again for your feedback. To solve your issue I need the json files generated by the reporter. Do you think it is possible on your side to forward me at least one of these files?

[2020-07-15 12:10] vasantverma-LM commented on #7
Hi @hdorgeval I will try to reproduce the same on a sample testcafe project and then will share the json files.

[2020-07-15 14:04] vasantverma-LM commented on #7
Hi @hdorgeval , attached are the json files for tests executed on BrowserStack.
[v6.0.4 Issues.zip](https://github.com/hdorgeval/testcafe-reporter-cucumber-json/files/4925678/v6.0.4.Issues.zip).

Attached below is the screenshot of the report:
![Screenshot (64)](https://user-images.githubusercontent.com/66365851/87554524-dad3ce80-c6d1-11ea-8692-35331d95e13a.png)
As shown in the screenshot, for iOS

[2020-07-15 14:21] hdorgeval commented on #7
Hi @vasantverma-LM, thanks for the data. Unfortunately I suspect this is the way TestCafé handles the userAgent on BrowserStack. I will publish a new version that will enable you to output debug data on the console.

I will ping you when this version is ready.

Thanks!

[2020-07-15 14:24] vasantverma-LM commented on #7
Hi @hdorgeval , thanks for the update.
Also plz provide a fix the screenshot issue not showing in the report when tests are executed on BrowserStack. The necessary files I have shared with you.

[2020-07-15 20:00] hdorgeval commented on #7
Hi @vasantverma-LM , I have published a `v6.0.5`, that, I hope, will fix your last issues.

[2020-07-16 07:18] vasantverma-LM commented on #7
Hi @hdorgeval I have tested the latest v6.0.5 but screenshots are still not shown in the report

[2020-07-16 08:23] hdorgeval commented on #7
Hi @vasantverma-LM , you should have  console logs like : cannot match browser...

[2020-07-16 12:08] hdorgeval commented on #7
Hi @vasantverma-LM , I have publish a `v6.0.6`. If screenshots are not included in the report, please have a look inside the JSON report file to a section `runinfo` at the end of the file:

[code]

The `warnings` section should give you the hint why TestCafé did not take the screenshot

[2020-07-17 08:11] vasantverma-LM commented on #7
Hi @hdorgeval ,I have tested the reporter v6.0.7 and when running the testcafe tests, screenshots were captured but not shown in the report.
Following are the warning message displayed in the json file,
"warnings": [
        "The window maximization functionality is not supported by the Browserstack JS Testing API. Use the Browserstack Automate API.",
        "Was unable to take a screenshot due t

[2020-07-17 10:20] hdorgeval commented on #7
Hi @vasantverma-LM, screenshot are generated by TestCafé on disk but are not passed to the reporter, hence the warning and the fact that the reporter does not show them.

It is very complex to programmatically analyze the warnings given by TestCafe and find from that warnings which screenshot file is related to which feature/test and to which browser.

For me, it is a bug within TestCafé:

Testcaf

[2020-07-17 11:39] vasantverma-LM commented on #7
Hi @hdorgeval , thanks for your response.
In the earlier version v5.1.0, screenshots were shown in the report when tests were executed on BrowserStack.Only it was not working for multiple browsers simultaneously.
I will try to report the issue on testcafe gitHub page but I am confused exactly what should I mention on the issue.

[2020-07-17 17:52] hdorgeval commented on #7
Hi @vasantverma-LM, I opened this [issue](https://github.com/DevExpress/testcafe/issues/5341) on TestCafé repo.

[2020-07-20 05:55] vasantverma-LM commented on #7
Hi @hdorgeval ,Thanks

[2020-08-06 06:33] vasantverma-LM commented on #7
Hi @hdorgeval , I am using the latest version of testcafe v1.8.8 and testcafe-reporter-cucumber-json version: 6.1.0.
When running testcafe tests on BrowserStack, Error is not displayed for the failed testcases in the report.
Screenshot is attached for your reference.
![BS_NoErrorDisplayed_Issue](https://user-images.githubusercontent.com/66365851/89498961-d5ebd180-d7dc-11ea-9730-f0c8591b3731.PNG)

[2020-08-06 17:25] hdorgeval commented on #7
Hi @vasantverma-LM, thank you for your feedback! I have reproduced the problem on my side. I will fix this asap.

[2020-08-06 18:51] hdorgeval commented on #7
Hi @vasantverma-LM , I have published a fix in v6.1.1.
I hope everything will be ok for you.

[2020-08-12 08:21] guiyomh commented on #21
thx

[2020-08-12 08:21] #21 closed

[2020-08-31 09:18] combmag opened #26 "Provider an API to pass parameters"
Currently the only way to pass arguments such as `reporter-json-folder` is to use testcafe CLI,

Currently we use the testcafe API to run testcafe tests. Is there anyway that we can override the reporter-json-folder without passing it as a CLI arg?

[2020-09-01 18:29] hdorgeval commented on #26
Hi @c-magri , thanks for your feedback. I will update the reporter to handle your issue through a configuration file. I do my best to provide you a solution asap.

[2020-09-05 16:58] hdorgeval commented on #26
Hi @c-magri , I have pushed [v6.2.0](https://github.com/hdorgeval/testcafe-reporter-cucumber-json/releases/tag/v6.2.0) that should fix your issue.

[2020-09-07 11:19] c-magri commented on #26
works like a charm thanks!

[2020-09-22 19:04] deepakarya74 opened #27 "JSON folder and file not created"
I followed the documentation provided on this link. https://www.npmjs.com/package/testcafe-reporter-cucumber-json
I ran the below command, the folder "cucumber-json-reports"  and JSON file not created.

`npm run tc:chrome tests/sample-test.js --reporter cucumber-json`

**package.json information below**
script{
"tc:chrome": "export NODE_ENV='development' && ./node_modules/.bin/testcafe chrome -e"

[2020-09-23 20:05] hdorgeval commented on #27
Hi @deepakarya74 , I think the command should be:

[code]

[2020-09-23 20:08] #26 closed

[2020-09-24 02:41] deepakarya74 commented on #27
Thanks for your quick response.
I found the solution, updated the script in package.json as mentioned below, after that it worked fine.
Running in Local
**Package.JSON**
"tc:chrome": "export NODE_ENV='development' && ./node_modules/.bin/testcafe chrome -e --reporter cucumber-json"

**Command Line**
`npm run tc:chrome tests/sample-test.js`

**Additional Information**- In case if anyone is using ".t

[2020-09-24 14:26] #27 closed

[2020-09-24 14:27] deepakarya74 commented on #27
Thanks

[2020-09-25 18:42] vsridhargovx opened #28 "Issue with Scenario level tags"
Hello, I have a use-case where I wanted to include Scenario tags in the report, so that I could import them to XRay (Jira cloud for test case management) after the automation tests run.
For instance, lets look at below. The report doesn't log the two tags I had defined in the JSON file. I want to map each Scenario in the JSON report with its unique tags, which will be useful when I import the repo

[2020-10-01 05:28] JoanEsquivel opened #29 "Logger improvement possibility"
Hi @hdorgeval
It is a pleasure to me to be here again!

I have an amazing idea(that may be impossible) but in case it is possible to implement, might be so good.

I have been trying this package https://www.npmjs.com/package/testcafe-reporter-html-logger-custom and it has a "log" function to get steps in JSON and then get them printed out in HTML.

Just wondering if something like that can be mixe

[2020-10-01 21:43] hdorgeval commented on #29
Hi @JoanEsquivel, I will have a look to this reporter and see what I can do for you.

[2020-10-01 22:07] hdorgeval commented on #29
Hi @JoanEsquivel , I think I understand your requirement.

I have developed in the past a static analyser of testcafe feature files that was able to extract steps from test method like this:

[code]

You can have a look at : https://github.com/hdorgeval/testcafe-static-analyser

I think this approach is even better than the one provided by the `testcafe-reporter-html-logger-custom` because you do

[2020-10-12 16:07] secilkaplan opened #30 "When use LambdaTest, the platform is missing"
When I am running tests with lambda I get the below error.

testcafe-reporter-cucumber-json: cannot get the Platform name from input string 'Safari 14.0 / macOS 11.0 ( https://automation.lambdatest.com/logs/?sessionID=463002BF-2071-40A1-B9E5-9DFD998E4412 )'

(Same as the problem here > https://github.com/hdorgeval/testcafe-reporter-cucumber-json/issues/8)

[2020-10-12 19:47] hdorgeval commented on #30
Hi @secilkaplan , thanks for your feedback. I will fix this issue asap.

[2020-10-12 21:53] hdorgeval commented on #30
Hi @secilkaplan , it seems more difficult than expected.

It would be great if you could provide a sample repo that shows the problem.

On my side the tricky part is that macOS 11 Big Sur is not yet integrated in the `multiple-cucumber-html-reporter` that generates the HTML report.

This means I have to update the testcafé reporter and , at the same time, I have to do a PR on `multiple-cucumber-ht

[2020-10-13 20:32] hdorgeval commented on #28
Hi @vsridhargovx , thank you for your feedback. It would be great if you could provide a sample repo that demonstrates your issue, it will help me to fix that the right way. Thanks!

[2021-03-10 16:23] umerhamdan10 opened #32 "Feature file steps not visible in html report"
My steps are not visible in report. I just see my feature file name and scenario name.

Any one face same issue? I just se json don't have any information about the steps but have the scenarion information.

Help will be appriciated
![image](https://user-images.githubusercontent.com/43927146/110661883-46b8f900-81c5-11eb-9e42-65bfbeb47505.png)

[2021-03-22 10:20] NHP95 commented on #32
Same concern here, has it been designed this way?

[2021-03-22 22:24] hdorgeval commented on #32
Hi @NHP95 and @umerhamdan10, it would be great if you could explain how you use this reporter: are you using it in a custom integration of `cucumber` with `testcafé` or just `testcafé` ?

Thanks!

[2021-03-23 15:05] umerhamdan10 commented on #32
I integrate cucumber with testcafe.

https://www.npmjs.com/package/testcafe-reporter-cucumber-json

[2021-03-23 15:18] NHP95 commented on #32
I used testcafe and gherkin-testcafe for the step definitions
https://www.npmjs.com/package/gherkin-testcafe

On Tue, Mar 23, 2021 at 10:06 PM umerhamdan10 ***@***.***>
wrote:

[2021-03-23 15:20] umerhamdan10 commented on #32
I am also using the same one

[2021-03-23 18:41] hdorgeval commented on #32
Hi @umerhamdan10 and @NHP95 , I have given a response in this [issue](https://github.com/wswebcreation/multiple-cucumber-html-reporter/issues/140)

I think you might also be interested in this thread : [hdorgeval/testcafe-reporter-cucumber-json#29](https://github.com/hdorgeval/testcafe-reporter-cucumber-json/issues/29)

[2021-03-24 00:20] NHP95 commented on #32
so in short, the steps will never be visible?

On Wed, Mar 24, 2021 at 1:41 AM hdorgeval ***@***.***> wrote:

[2021-03-24 21:54] hdorgeval commented on #32
Hi @NHP95, @umerhamdan10  , unfortunately there is no perfect and clean integration of Cucumber with TestCafé. TestCafé is an all-in-one tool (and it is a great tool) and not a library. This means it is not possible (at the time of writing this comment) to have a TestCafé feature file that is run by the cucumber runner. And because TestCafé has no notion of `step` inside a `test` function, you wil

[2021-03-25 13:37] umerhamdan10 commented on #32
Hi @hdorgeval, thank you for the reply and give the valuable information.

I did not get (This is why I suggested to infer these steps by injecting // Given ... // When ... // Then ... comments inside the test methods) this. How to do this.

Can you share example or your implementation.?

[2021-03-27 14:39] hdorgeval commented on #32
Hi @umerhamdan10 , it would be great if you could provide a functional github repo that shows how you use testcafe together with cucumber and the reporter, so that I can search for the best solution to inject the steps inside the json file report.

Thanks!

[2021-03-28 03:15] NHP95 commented on #32
For me, I used testcafe programming interface to create a test runner
'gherkin-testcafe' and then in the reporter function I passed in the
'cucumber-json'.

On Sat, 27 Mar 2021 at 21:40 hdorgeval ***@***.***> wrote:

[2021-05-19 18:43] MeghaKoshle commented on #32
Hi,
I'm also facing same issue!
I'm using testcafe, cucumber and multiple-cucumber-html-reporter.

[
![report_issue](https://user-images.githubusercontent.com/22904957/118865954-21501600-b8ff-11eb-8196-902fd62acbe8.JPG)

[2021-05-20 17:23] hdorgeval commented on #32
Hi @MeghaKoshle thank you for your feedback.

I would be happy to provide a solution, but for this, it would be great if someone in this thread could provide a working public repo that demonstrate the problem.

The root cause of what you report is that at runtime all gherkin syntax is translated into Testcafé syntax, because the final runner is TestCafé and not Cucumber itself; and in TestCafé wor

[2021-05-25 00:21] amitrai-blk opened #36 "Support for embeddings in report"
Is is possible to replace the image tags with embeddings tags?

[code]

[code]

[2021-06-16 04:35] goelabhinav commented on #32
@hdorgeval could you please have a look at this? https://github.com/damianszczepanik/cucumber-reporting

I was looking for a report with feature steps like mentioned in the provided url.

![Uploading image.png…]()

[2021-07-20 20:41] rhowk opened #39 "Programmatically set reporter-json-folder etc as part of runner object"
Via command line the json reporter folder is set by:
--reporter-json-folder='my-custom-folder'
We are trying to run the gherkin-testcafe programmatically and our setup looks like this:
`const createTestCafe = require('gherkin-testcafe');`
`...`

   `  let failedCount;`
       `  try {`
          `   testcafe = await createTestCafe({ host, developerMode: true });`
           `  const { server1Info,

[2021-07-20 21:47] hdorgeval commented on #39
Hi @rhowk , actually you cannot setup correctly the reporter-json-folder, the reporter-app-name via runner.reporter.
To do so, I need to modify the code in order to read those infos from environment variables:

[code]

Do you think it could be a solution for you?
If yes, I will update the code and publish a new version.

Thanks

[2021-07-20 22:00] rhowk commented on #39
That would be fantastic! Love to be your guinea pig on this.

[2021-07-21 01:45] rhowk commented on #39
so I added :
`process.env.reportFolder = join('reports', batch${jobnumber}');
process.env.appName = '${jobnumber}-${name}';`

to runner .js and when I console log the process.env I see:
` LC_CTYPE: 'en_US.UTF-8',
   SAUCE_ACCESS_KEY: '',
   NVM_BIN: '/Users/<myuser>/.nvm/versions/node/v14.17.0/bin',
   SNC_LIB: '/Applications/Secure Login Client.app/Contents/MacOS/lib/libsapcrypto.dylib',
   DEBUG

[2021-07-21 19:14] hdorgeval commented on #39
Hi @rhowk, you still need to wait until I push a new release.
I plan the following change:

## [6.3.0] - 2021-07-21

### Added

- feat(reporter): be able to set reporter options through environment variables.

  - you can now set the `--reporter-json-folder`, `--reporter-app-name` and `--reporter-app-version` options as variable environments:

[code]

[2021-07-21 20:25] hdorgeval commented on #39
Hi @rhowk , I have pushed the `v6.3.0` on `npm`.
Feel free to give any feedback.

Thanks

[2021-07-22 14:08] rhowk commented on #39
@hdorgeval we will test it out and get right back to you! Thanks so much!

[2021-07-22 19:47] mattylips77 commented on #39
@hdorgeval Worked like a charm.  Thanks so much!

[2021-07-22 20:45] hdorgeval commented on #39
Hi @mattylips77, thanks for your feedback. It's always appreciated :)

[2021-07-24 16:01] #39 closed

[2021-09-06 18:39] VoohaN commented on #8
Hi @hdorgeval, I see the same issue on the latest testcafe reporter cucumber json: testcafe-reporter-cucumber-json: cannot get the Platform name from input string 'Chrome 92.0.4515.40 / Windows 10 ( https://automation.lambdatest.com/logs/?sessionID=c905f49f9ce04dd6a0f2999adbdccb19 )' on the latest version. Could you please take a look? thanks.

[2021-11-22 15:07] Vooha-QualiTlabs commented on #30
@hdorgeval  @TareqElMasri @NathanYocum  I still see the issue, could you please fix it?
![image](https://user-images.githubusercontent.com/91185844/142885100-b102e827-f1c1-4e5f-8ee9-6206dd082b90.png)
![image](https://user-images.githubusercontent.com/91185844/142897365-31b7001e-5a90-4dbf-ab1e-a0c2204a6573.png)

[2022-05-24 14:00] stumueller opened #45 "vulnerability in dependancy"
testcafe-reporter-cucumber-json is dependent on a vulnerable version of minimist. Can it be upgraded to 1.2.6 or higher?

[2022-07-01 08:25] netdesignr commented on #45
Is there any intention to fix this?

[2022-07-14 10:44] v-mwalk commented on #32
A slightly aging issue thread, but one that is very relevant to me in my current project at the moment.

I understand that TestCafe has no notion of Cucumber/Steps and so gherkin-testcafe is - I assume - effectively converting the Cucumber to Testcafe; which Testcafe is then executing.  And, as Testcafe has no notion of steps your reporter, which is embedding into Testcafe aslo has no notion of st

[2022-08-16 13:37] rignicat opened #48 "All tests succeed but they actually fail"
Issue: report states all tests were a success, but actually they fail.

This issue appeared starting v6.0.5 (6.0.3 & 6.0.4 fail, and cannot be verified), in combination with testcafe version 1.20.0 and later. Earlier testcafe versions *or* earlier cucumber reporter versions wil not have this problem.

[issue-proof.zip](https://github.com/hdorgeval/testcafe-reporter-cucumber-json/files/9351486/issu

[2022-08-22 20:18] Zeerti commented on #30
We're seeing the same issue using gitlab pipelines. @hdorgeval

--Edit--
We recently discovered that by changing some versions in our package lock it resolved the issue in gitlab pipelines.

![image](https://user-images.githubusercontent.com/6710685/186011246-2376c86b-c778-4f2b-aae1-9d6b32bdb491.png)

[2022-10-21 11:12] onlyadam commented on #48
I have observed the same behaviour after updating and using v6.3.0 with testcafe v2.0.0. Any update?

[2022-11-02 08:27] mabhra commented on #45
Hi
Is the fix for this in the pipeline?